.navbar-section{
  position: sticky;
 background-color: #fff;
 
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 3;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px red;
}
.sidebar.open ~ .navbar-section{
  left: 250px;
  width: calc(100% - 250px);
}
.nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.navbar-section ul  {
  display: flex;
  justify-content: space-between;
  list-style: none;
 align-items: center;
  margin-bottom:0rem;
  margin-right:2rem;

}

.navbar-section ul li{
  align-items: center;
  margin: 0 1rem;
}
.navbar-profile{
  display: flex;
  align-items: center;
}
.navbar-profile img{
  height:2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.page-name{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
}