table {
     margin-top: 2rem;
}
h2{
     position: relative;
     margin:  1rem; ;
}
h2::before{
     content: "";
     position: absolute;
     width: 120px;
     height: 4px;
     background-color: white;
     bottom: 0;
 }
 h2::after{
     content: "";
     position: absolute;
     width: 60px;
     height: 4px;
     background-color: black;
     left: 0;
     bottom: 0;
 }
 .add-button {
     position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
 }